/**
* @Description:
* @Author:         TSY
* @CreateDate:     2018/6/9 13:28
*/
.click_item:active {
  background: #eee;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}
.pulldown-wrapper {
  top: -150px;
}
.iconfont {
  font-size: 34px;
  font-size: 4.533333333333333vw;
}
