/**
* @Description:
* @Author:         TSY
* @CreateDate:     2018/6/9 13:28
*/

//设计稿尺寸
designSize = 750px
// 页面主色
main-color = #1c71fb
//页面背景色
bg-color = #f4f4f4
//主文字颜色
main-font-color = #4c4c4c
//副文字颜色
vice-font-color = #898989
//绿色
green-color = #00cb69
// 1px 实线边框
solidBorder(color = bg-color) {
  border 1px solid color
}

borderBottom(color = bg-color) {
  border-bottom 1px solid color
}

borderTop(color = bg-color) {
  border-top 1px solid color
}

borderLeft(color = bg-color) {
  border-left 1px solid color
}

borderRight(color = bg-color) {
  border-right 1px solid color
}

bottomLine(color = bg-color) {
  border-bottom px2vw(16px) solid color
}

topLine(color = bg-color) {
  border-top px2vw(16px) solid color
}

//浏览器私有前缀属性扩展
vendor(prop, args) {
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
}

//文字溢出显示省略号
textOverflow() {
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
}

//px转vw
px2vw(size) {
  return (size /designSize * 100) vw
}

fontSize(size, isMoblie = true)
  if isMobile
    font-size size
    font-size px2vw(size)
  else
    font-size size

paddingAround() {
  padding px2vw(30px) px2vw(34px)
}

fixedTop() {
  position: fixed
  width 100%
  top 0
  left 0
  z-index 2
}

fixedBottom() {
  position: fixed
  width 100%
  bottom 0
  left 0
  z-index 2
}

.click_item:active {
  background: #eee;
}

.mask {
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0,0,0,0.5)
  z-index 999
}

.pulldown-wrapper {
  top: -150px;
}

.iconfont {
  fontSize(34px)
}